* {
    font-family: Verdana, Arial, sans-serif ;
    padding: 4px;
    background-color: darkslategray;

}

h1 {
    color: rgb(224, 18, 52);
    background-color: #dac8b2;
    text-align: center;
}

a {
    color: rgb(233, 105, 66);
    text-decoration: none;
}

img {
    width: 500px;
    height: 350px;
    margin-left: 380px;
}

h2 {
    background-color: beige;
    font-size: 25px;
    width: 140px;

}

h3 {
    background: beige;
    width: 100px;
    
}

.step {
    width: 55px;
}

li {
    margin-left: 10px;
}